<form [formGroup]="form">
        <div class="example-container">
                <mat-form-field appearance="fill">
                        <mat-label>Input</mat-label>
			<input matInput formControlName="title">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                        <mat-label>Textarea</mat-label>
			<textarea matInput formControlName="body"></textarea>
                </mat-form-field>
        </div>
        
        <button mat-button type="submit" (click)="submit()">Submit</button>
	<button mat-button type="get" (click)="get()">Submit</button>
</form>
        
