<div class="container">
<div class="user">
<mat-card id="top">	
	<mat-card-content>
	<textarea readonly rows=29 id="output">Welcome. Ask a question to begin.</textarea>
	</mat-card-content>
</mat-card>

<br>

<mat-card>
	<mat-card-content>
		<mat-progress-bar [mode]="mode" [value]="value"></mat-progress-bar>
		<form [formGroup]="form" (keydown.enter)="submit()">
        	<div class="example-container">
			<br>
			<mat-form-field color="primary" appearance="fill" style="width:100%; height:5%;">
                        	<mat-label>Type Here</mat-label>
				<textarea matInput formControlName="body" id="input"></textarea>
               		 </mat-form-field>

        	</div>
        
	</form>
	<br>
	<button mat-raised-button color="primary" type="submit" (click)="submit()">Submit</button>
	</mat-card-content>
</mat-card>
</div>
</div>
