.user {
	width:80%;
	display: table;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	height: 100%;
}

#output {
	width: 95%;
	height: 85%;
	overflow-y: scroll;
	display: table;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
	background-color: lightblue;
}

#top {
	height: 60%;;
}

.container {
	background-color: AliceBlue;
	height: 105%;
}
